.jumbotron {
  padding-top: 6rem;
  background-color: #E4cfbb;
}
footer {
  padding-top: 1rem;
}

section {
  padding-top: 5rem;
}

.bg-coklat {
  background-color: #E4cfbb;
}

.bg-coklatGelap {
  background-color: #332219;
}